@model IEnumerable<CongNgheWeb_3_0.Models.tbl_User>
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- tables -->
<link href="~/Content/Admin/css/table-style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/basictable.css" />
<script type="text/javascript" src="~/Content/Admin/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').basictable();

        $('#table-breakpoint').basictable({
            breakpoint: 768
        });

        $('#table-swap-axis').basictable({
            swapAxis: true
        });

        $('#table-force-off').basictable({
            forceResponsive: false
        });

        $('#table-no-resize').basictable({
            noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
            tableWrapper: true
        });
    });
</script>


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListTeacher","Admin")">Danh sách giảng viên</a></li>
</ol>
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách giảng viên</h2>
            <a class="btn btn-danger" href="@Url.Action("CreateTeacher","User")">Thêm giảng viên</a>
            <table id="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.UserName)</th>
                        <th>@Html.DisplayNameFor(Model => Model.UserImage)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Email)</th>
                        <th>@Html.DisplayNameFor(Model => Model.NumberPhone)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Clock)</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.UserImage</td>
                            <td>@item.Email</td>
                            <td>@item.NumberPhone</td>
                            <td>
                                @if (item.Clock == true)
                                {
                                    <a href="@Url.Action("ClockAndUnClock","User",new {@id=item.ID})"><i class="fa fa-times text-danger"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("ClockAndUnClock","User",new {@id=item.ID})"><i class="fa fa-check text-primary"></i></a>

                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","User",new {@id=item.ID})"><i class="fa fa-gear fa-1x"></i></a>
                                <a href="@Url.Action("Detail","User",new {@id=item.ID})"><i class="fa fa-info fa-1x"></i></a>
                                <a href="@Url.Action("Delete","User",new {@id=item.ID}) "><i class="fa fa-times-circle-o fa-1x"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


</div>








<!--js -->
<script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
<script src="~/Content/Admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/Admin/js/bootstrap.min.js"></script>
