@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- tables -->
<link href="~/Content/Admin/css/table-style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/basictable.css" />
<script type="text/javascript" src="~/Content/Admin/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').basictable();

        $('#table-breakpoint').basictable({
            breakpoint: 768
        });

        $('#table-swap-axis').basictable({
            swapAxis: true
        });

        $('#table-force-off').basictable({
            forceResponsive: false
        });

        $('#table-no-resize').basictable({
            noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
            tableWrapper: true
        });
    });
</script>

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các khóa học</h2>
            <a class="btn btn-danger" href="@Url.Action("Create","Course")"><i class="fa fa-plus"></i> Thêm khóa học</a>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseImage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pirce)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalView)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalStudents)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.tbl_Category.CategoryName)
                        </th>
                        <th width="10%">Chi tiết</th>
                        <th width="10%">Sửa</th>
                        <th width="10%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseImage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pirce)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalView)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalStudents)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit","Course",new {@id=item.ID})"><i class="fa fa-gear fa-1x"></i></a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Category",new {@id=item.ID})"><i class="fa fa-gear fa-1x"></i></a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Category",new {@id=item.ID}) "><i class="fa fa-times-circle-o fa-1x"></i></a>

                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


</div>








<!--js -->
<script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
<script src="~/Content/Admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/Admin/js/bootstrap.min.js"></script>